<nav class="navbar navbar-custom">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed color:#FD775B" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= image_tag "geek_girls_carrots.svg", size: "310x62" %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#event">EVENT</a></li>
        <li><a href="#schedule">SCHEDULE</a></li>
        <li><a href="#location">LOCATION</a></li>
        <li><a href="#team">TEAM</a></li>
        <li><a href="#sponsors">SPONSORS & PARTNERS</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="background-color:#4D4D4D;color:#FD775B ">
  <%= image_tag "hack_like_a_Girl_final.svg" %>
  <h1>Hackathon: Diversity in tech</h1>

  <h1>13 - 14 June 2015</h1>

  <p>
    <a class="btn btn-default btn-lg btn-sharp" href="https://docs.google.com/forms/d/1u3RtvSBi_s5j3OpXen5MsJQzFaG7UuAHTO9e6Rl6T5Q/viewform?usp=send_form" role="button">REGISTER
      NOW</a></p>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-facebook-f fa-stack-1x"></i>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x"></i>
  </span>
</div>

<a name="event"></a>
<div class="container-fluid" style="background-color:#FD775B;color:white">
  <h1>EVENT</h1>

  <div class="row">
    <div class="col-sm-4">
      <h2>Mission</h2>

      <p>We welcome women of all experience levels from a variety of technical, business and creative disciplines to
        participate in a tech-centric project in an inclusive and safe space. We encourage collaboration, learning and
        building networks in order to strengthen women in IT.</p>
    </div>
    <div class="col-sm-4">
      <h2>Topic</h2>

      <p>The theme for the hackathon is “diversity in tech”. We will be building open source projects which will help
        women discover more about the tech industry and opportunities it offers. We are keeping the guidelines fairly
        open as we want to encourage participant to come up with their own creative solutions to this problem.
        registrations are open to idea masterminds, developers, designers and marketers.
      </p>
    </div>
    <div class="col-sm-4">
      <h2>Application Process</h2>

      <p>As we want to have a good balance of junior and experience participants as well as different areas of expertise
        … </p>
    </div>
  </div>

</div>

<a name="schedule"></a>
<div class="container-fluid">
  <h1>SCHEDULE</h1>

  <p></p>
</div>

<a name="location"></a>
<div class="container-fluid" style="background-color:#FD775B;color:white">
  <h1>LOCATION</h1>

  <h3>HERE, Invalidenstr. 116, 10115 Berlin</h3>

  <div id="map-canvas" style="height: 500px"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
            center: new google.maps.LatLng(52.530935, 13.384933),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: false
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<a name="team"></a>
<div class="container-fluid" style="background-color:#4D4D4D;color:#FD775B">
  <h1>TEAM</h1>

  <ul class="nav nav-pills">
    <li class="active"><a href="#judges" data-toggle="tab">Judges</a></li>
    <li><a href="#mentors" data-toggle="tab">Mentors</a></li>
    <li><a href="#organizers" data-toggle="tab">Organizers</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="judges">
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag "Ronny-Rentner.jpg", size: "250", class: "img-circle" %>
        </div>
        <div class="col-sm-8">
          <h3>Ronny Renter</h3>

          <p style="color:#ffffff;text-align: left">Ronny was working for more than 12 years in the area of web
            development and eCommerce. As a software
            engineer and consultant he was involved in large scale CMS projects for companies like Bayer Schering Pharma
            and Gruner + Jahr. During the last years he gained lots of experience with fast moving, agile processes by
            leading eCommerce projects based on Magento, Symfony and Zend as well as taking over the CTO role for
            different technology startups. In past 4 years he is attached to Rocket Internet - the World's Largest
            Internet Platform Outside the United States and China in position of SVP Engineering.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <%= image_tag "lisa.jpeg", size: "250", class: "img-circle" %>
        </div>
        <div class="col-sm-8">
          <h3>Lisa Lang</h3>

          <p style="color:#ffffff;text-align: left">With a name that sounds ripped from a Marvel comic book, Lisa Lang
            delivers a personality to match - and she has a superpower: Lisa brings people together to create new,
            innovative, and beautiful products.
            Lisa was raised in a Franconian craftsman family, studied Arts, New Media as well as international business
            management and lived and worked all around the word. In the almost ten years of her career in the IT
            industry, she’s gained a reputation as a digital information technology and new media game changer. Now Lisa
            is blending all her experiences with her agency for bespoke wearables technologies, ELEKTROCOUTURE.com, and
            has been named one of the top 100 most influential people in wearable tech worldwide.
          </p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="mentors">
      <p>mentors</p>
    </div>
    <div class="tab-pane fade" id="organizers">
      <p>organizers</p>
    </div>
  </div>
</div>

<a name="sponsors"></a>
<div class="container-fluid" style="background-color:#EEEEEE;color:#4D4D4D">
  <h1>SPONSORS & PARTNERS</h1>
</div>

<a name="faq"></a>
<div class="container-fluid" style="color:#4D4D4D">
  <h1>FAQ</h1>
</div>

<div class="container-fluid" style="background-color:#4D4D4D;color:#FD775B">
  <h1>CONTACT US</h1>

  <p><a class="btn btn-default btn-lg btn-sharp" href="" role="button">Send a message</a></p>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-facebook-f fa-stack-1x"></i>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-twitter fa-stack-1x"></i>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-o fa-stack-2x"></i>
    <i class="fa fa-google-plus fa-stack-1x"></i>
  </span>
</div>

<div class='footer'>
  <div class='container-fluid' style="background-color:#FD775B;color:#4D4D4D">
    <h3>Copiright © Geek Girls Carrots 2015</h3>
  </div>
</div>