$navbar-height: 65px;
/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$action-color: #FD775B;
$background-color: #4D4D4D;
$white: #FFFFFF;
$grey: #717171;

// social media
.social_span {

  &:hover {
    color: $grey;
  }

  &:active {
    color: $grey;
  }

  &:visited {
    color: $grey;
  }
}
a {
  color: $action-color;

  &:focus {
    color: $grey;
  }
}

// body
body {
  text-align: center;
  padding-top: 65px;
  position: relative;
}

html,
body {
  width:100%;
  overflow-x:hidden;
}

// navigation
.navbar-brand {
  padding: 5px 8px;
}

.navbar-default {
  border-radius: 0;
  background-color: $white;
}

.navbar-default .navbar-nav > li > a {
  color: $background-color;
  font-family: 'Orbitron', sans-serif;
  vertical-align: baseline;
  font-size: 14px;
}

.navbar-default .nav > li > a:active, .nav > li > a:focus {
  color: $white;
  background-color: $action-color;
}

.navbar-default .nav > li > a:hover {
  color: $action-color;
  background-color: transparent;
}


// tabs
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  border-radius: 0 !important;
  border-style: solid;
  border-color: $action-color;
  font-size: 16px;
  background: $background-color;
  color: $action-color;
  font-family: 'Orbitron', sans-serif;
  width: 150px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  border-radius: 0 !important;
  background: $action-color;
  color: $background-color;
}

.nav-pills > li > a:hover {
  border-radius: 0 !important;
  background: $grey;
  color: $action-color;
}

// button
.btn-sharp {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  background: $action-color;
  border-style: solid;
  border-color: $background-color;
  color: $background-color;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: $background-color;
  border-color: $action-color;
  color: $action-color;
}

.btn-sharp-event {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  border-style: solid;
  border-color: $action-color;
  color: $action-color;
  background: $white;
}


.btn-sharp-event:hover, .btn-sharp-event:focus, .btn-sharp-event:active, .btn-sharp-event.active, .open > .dropdown-toggle.btn-sharp {
  background: $action-color;
  border-color: $white;
  color: $white;
}

// header
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.no-padding-bottom, div.no-padding-bottom {
  padding-bottom: 0px;
}

h1.contact {
  padding-bottom: 30px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.middle-padding-bottom, h2.middle-padding-bottom, p.middle-padding-bottom {
  padding-bottom: 48px;
}

h2.padding-top {
  padding-top: 70px;
}

h2.padding-top-bottom {
  padding-bottom: 80px;
}

h2.name {
  color :$white;
  text-align: left;
}

h2.active_color, h3.active_color {
  color: $action-color;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.question {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

// paragraph
p {
  font-family: 'SansPro', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

p.answer {
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 40px;
}

p.button {
  text-align: center;
}

p.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.bio {
  color:$white;
  text-align: left;
  padding-bottom: 40px
}

p.time {
  color: $action-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

p.timetable-item {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

p.kick-off {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: left;
}

p.contact {
  color: $action-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: center;
}

p.padding-bootom {
  padding-bottom: 10px;  
}

p.address {
  color: $action-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

p.footer {
  color: $background-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
}

// div
div.padding-top {
  padding-top: 100px;
}

div.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

div.padding-top-bottom-mini {
  padding-top: 50px;
  padding-bottom: 50px;
}

div.padding-bottom-mini {
  padding-bottom: 30px;
}

div.event {
  max-width: 450px; 
  word-wrap:break-word;
}

div.no-left-right-margin {
  margin-left: 0px;
  margin-right: 0px;
}

div.s-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.contact {
  padding-top: 50px;
  padding-bottom: 0px;
}

// other

ul.padding-bottom {
  padding-bottom: 60px;
}

span.highlight {
  color: $action-color;
}

li.prizes {
  text-align: left;
}
p.prizes {
  text-align: center;
}

.span-color {
  font-color: $grey;
}

// small devices

@media (max-width: 768px) {  
  div.padding-top-bottom {
    padding-top: 45px;
    padding-bottom: 40px;
  }
  div.padding-top {
    padding-top: 45px;
  }
  h1 {
    padding-bottom: 40px;
  }
  h2 {
    padding-bottom: 20px;
  }
  h2.padding-top-bottom {
    padding-bottom: 40px;
  }
  h2.padding-top {
    padding-top: 35;
  }
  div.s-logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  p.timetable-item {
    padding-bottom: 20px;
  }
  div.padding-bottom-mini {
    padding-bottom: 20px;
  }
}