$navbar-height: 65px;
/*
 *= require_self
 *= require_tree .
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$action-color: #FD775B;
$background-color: #4D4D4D;
$white: #FFFFFF;
$grey: #717171;

// social media
.social_span {

  &:hover {
    color: rgba(255,255,255,.8);
  }

  &:active {
    color: rgba(255,255,255,.8);
  }

  &:visited {
    color: #b33e2c;
  }
}
a {
  color: #b33e2c;

  &:focus {
    color: #b33e2c;
  }
}

// body
body {
  text-align: center;
  padding-top: 65px;
  position: relative;
}

html,
body {
  width:100%;
  overflow-x:hidden;
}

// navigation
.navbar-brand {
  padding: 5px 8px;
}

.navbar-default {
  border-radius: 0;
  background-color: $white;
}

.navbar-default .navbar-nav > li > a {
  color: $background-color;
  font-family: 'Orbitron', sans-serif;
  vertical-align: baseline;
  font-size: 14px;
}

.navbar-default .nav > li > a:active, .nav > li > a:focus {
  color: $white;
  background-color: $action-color;
}

.navbar-default .nav > li > a:hover {
  color: #b33e2c;
  background-color: transparent;
}


// tabs
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  border-radius: 0 !important;
  border-style: solid;
  border-color: #fff;
  font-size: 16px;
  background: #b33e2c;
  color: #fff;
  font-family: 'Orbitron', sans-serif;
  width: 250px;
  margin-bottom: 5px;
}

.nav-pills > li a {
  color: #fff;
}

.nav-pills.video > li {
  width: 90px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  border-radius: 0 !important;
  background: rgba(255,255,255,.9);
  color: #b33e2c;
}

.nav-pills > li > a:hover {
  border-radius: 0 !important;
  background: rgba(255,255,255,.7);
  color: #b33e2c;
}

// button
.btn-sharp {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  background: #b33e2c;
  border-style: solid;
  border-color: #b33e2c;
  color: #fff;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: rgba(255,255,255,.8);
  border-color: #b33e2c;
  color: #b33e2c;
}

.btn-sharp-event {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  border-style: solid;
  border-color: $action-color;
  color: $action-color;
  background: $white;
}


.btn-sharp-event:hover, .btn-sharp-event:focus, .btn-sharp-event:active, .btn-sharp-event.active, .open > .dropdown-toggle.btn-sharp {
  background: $action-color;
  border-color: $white;
  color: $white;
}

// header
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-padding-bottom, div.no-padding-bottom {
  padding-bottom: 10px;
}

div#team h1, div#achievements h1 {
  padding-bottom: 50px;
}

h1.contact {
  padding-bottom: 30px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.middle-padding-bottom, h2.middle-padding-bottom, p.middle-padding-bottom {
  padding-bottom: 30px;
}

.padding-top {
  padding-top: 40px;
}

.padding-top-bottom {
  padding-bottom: 80px;
}

h2.name {
  color :$white;
  text-align: left;
}

h2.active_color, h3.active_color {
  color: $action-color;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.question {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

// paragraph
p {
  font-family: 'SansPro', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

p.answer {
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 40px;
}

p.button {
  text-align: center;
}

p.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.bio {
  color:$white;
  text-align: left;
  padding-bottom: 40px
}

p.time {
  color: $action-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

p.timetable-item {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

p.kick-off {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: left;
}

p.contact {
  color: $action-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: center;
}

p.padding-bootom {
  padding-bottom: 10px;  
}

p.address {
  color: $action-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

p.footer {
  color: $background-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
}

// div
div.padding-top {
  padding-top: 100px;
}

div.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

div.padding-top-bottom-mini {
  padding-top: 50px;
  padding-bottom: 50px;
}

div.padding-bottom-mini {
  padding-bottom: 30px;
}

div.event {
  max-width: 450px; 
  word-wrap:break-word;
}

.event-pics {
  margin: 15px auto;
}

img.event-img {
  border: 5px solid #fff;
  margin: 10px auto;
}

div.map {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

div.s-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.contact {
  padding-top: 50px;
  padding-bottom: 0px;
}

// other

ul.padding-bottom {
  padding-bottom: 40px;
}

span.highlight {
  color: $action-color;
}

ul.prizes {
  text-align: left;
  font-size: 20px;
  list-style: none;
}

ul.prizes li {
  text-align: center;
}

p.prizes {
  text-align: left;
}

.span-color {
  font-color: $grey;
}

ol.judging-rules {
  text-align: left;
  font-size: 18px;
}

.mentor-company {
  font-size: 16px;
}

.prize {
  font-color: white;
}

// small devices

@media (max-width: 768px) {  
  div.padding-top-bottom {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  div.padding-top {
    padding-top: 45px;
  }
  h1 {
    padding-bottom: 40px;
  }
  h2 {
    padding-bottom: 20px;
  }
  .padding-top-bottom {
    padding-bottom: 40px;
  }
  .padding-top {
    padding-top: 35;
  }
  div.s-logo {
    padding: 15px 20px;
  }
  p.timetable-item {
    padding-bottom: 20px;
  }
  div.padding-bottom-mini {
    padding-bottom: 20px;
  }
}

// video

@media (max-width: 768px) {  
  .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

@media (max-width: 767px) {  

  div#welcome {
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: #000;
    background-image: url('bg-mobile.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

div.video-background {
  display: none;
}
}

@media (min-width: 768px) {  

  * { box-sizing: border-box; }
  .video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
    filter: brightness(40%);
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
  }

}