/*
 *= require_self
 *= require_tree .
 */
$navbar-height: 80px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


$action-color: #FD775B;
$background-color: #4D4D4D;
$white: #FFFFFF;
$grey: #717171;

html {
  max-width: 1080px;
}
#max-width-container {
  max-width: 1000px;
}

// social media
.social_span {

  &:hover {
    color: $grey;
  }

  &:active {
    color: $grey;
  }

  &:visited {
    color: $grey;
  }
}
a {
  color: $action-color;

  &:focus {
    color: $grey;
  }
}

// body
body {
  text-align: center;
  padding-top: 70px;
  position: relative;
}

html,
body {
  width:100%;
  overflow-x:hidden;
}

// navigation
.navbar-brand {
  padding: 10px 15px;
}

.navbar-default {
  border-radius: 0;
  background-color: $white;
}

.navbar-default .navbar-nav > li > a {
  color: $background-color;
  font-family: 'Orbitron', sans-serif;
  vertical-align: baseline;
  font-size: 16px;
}

.navbar-default .nav > li > a:active, .nav > li > a:focus {
  color: $white;
  background-color: $action-color;
}

.navbar-default .nav > li > a:hover {
  color: $action-color;
  background-color: transparent;
}


// tabs
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  border-radius: 0 !important;
  border-style: solid;
  border-color: $action-color;
  font-size: 16px;
  background: $background-color;
  color: $action-color;
  font-family: 'Orbitron', sans-serif;
  width: 150px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  border-radius: 0 !important;
  background: $action-color;
  color: $background-color;
}

.nav-pills > li > a:hover {
  border-radius: 0 !important;
  background: $grey;
  color: $action-color;
}

// button
.btn-sharp {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  background: $action-color;
  border-style: solid;
  border-color: $background-color;
  color: $background-color;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: $background-color;
  border-color: $action-color;
  color: $action-color;
}

// header
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.no-padding-bottom, div.no-padding-bottom {
  padding-bottom: 0px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.middle-padding-bottom, h2.middle-padding-bottom, p.middle-padding-bottom {
  padding-bottom: 48px;
}

h2.padding-top {
  padding-top: 80px;
}

h2.padding-top-bottom {
  padding-bottom: 80px;
}

h2.name {
  color :$white;
  text-align: left;
}

h2.active_color, h3.active_color {
  color: $action-color;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.padding-top {
  padding-top: 80px;
}

h3.question {
  padding-bottom: 20px;
}

// paragraph
p {
  font-family: 'SansPro', sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

p.answer {
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

p.button {
  text-align: center;
}

p.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.bio {
  color:$white;
  text-align: left;
  padding-bottom: 40px
}

p.time {
  color: $action-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

p.timetable-item {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

div.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

div.padding-top {
  padding-top: 200px;
}

div.padding-top-bottom-mini {
  padding-top: 50px;
  padding-bottom: 50px;
}


div.padding-top {
  padding-top: 100px;
}

div.no-left-right-margin {
  margin-left: 0px;
  margin-right: 0px;
}

ul.padding-bottom {
  padding-bottom: 60px;
}

span.highlight {
  color: $action-color;
}