/*
 *= require_self
 *= require_tree .
 */
//$navbar-inverse-link-color: #ffffff;
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
}

// navigation
.navbar-custom {
  color: #ffffff;
  border-radius: 0;
  background-color: #FFFFFF;
}

.navbar-custom .navbar-nav > li > a {
  color: #4D4D4D;
  font-family: 'Orbitron', sans-serif;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #FD775B;
  background-color: #FD775B;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  font-size: 16px
}

// tabs
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  border-radius: 0 !important;
  border-style: solid;
  border-color: #FD775B;
  font-size: 16px;
  background: #4D4D4D;
  color: #FD775B;
  font-family: 'Orbitron', sans-serif;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  border-radius: 0 !important;
  background: #FD775B;
  color: #4D4D4D;
}

.nav-pills > li > a:hover {
  border-radius: 0 !important;
  background: #4D4D4D;
  color: #FD775B;
}
a {
  color: #FD775B;
}

// button
.btn-sharp {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  background: #FD775B;
  border-style: solid;
  border-color: #4D4D4D;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: #4D4D4D;
  border-color: #FD775B;
  color: #FD775B;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.no-padding-bottom, div.no-padding-bottom {
  padding-bottom: 0px;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.middle-padding-bottom, h2.middle-padding-bottom, p.middle-padding-bottom {
  padding-bottom: 48px;
}

h2.padding-top {
  padding-top: 80px;
}

h2.padding-top-bottom {
  padding-bottom: 80px;
}

h2.name {
  color :#ffffff;
  text-align: left;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: 'SansPro', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

p.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.bio {
  color:#ffffff;
  text-align: left;
  padding-bottom: 40px
}

div.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

div.padding-top {
  padding-top: 100px;
}

div.no-left-right-margin {
  margin-left: 0px;
  margin-right: 0px;
}

ul.padding-bottom {
  padding-bottom: 60px;
}