$navbar-height: 65px;
/*
 *= require_self
 *= require_tree .
 */
$grid-float-breakpoint: 1000px;
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$action-color: #ff4e00;
$background-color: #4D4D4D;
$white: #FFFFFF;
$grey: #717171;

// social media
.social_span {

  &:hover {
    color: rgba(255,78,0,.9);
  }

  &:active {
    color: rgba(255,78,0,.9);
  }

  &:visited {
    color: #fff;
  }
}
a {
  color: $action-color;

  &:focus {
    color: #fff;
  }
}

// body
body {
  text-align: center;
  padding-top: 65px;
  position: relative;
}

html,
body {
  width:100%;
  overflow-x:hidden;
}

// navigation

.navbar-brand {
  padding: 5px 8px;
  margin-left: 15px;
}

@media (min-width: 1000px) {
  .navbar > .container-fluid .navbar-brand {
    margin-left: 15px;
  }
}

.navbar-default {
  border-radius: 0;
  background-color: $white;
}

.navbar-default .navbar-nav > li > a {
  color: $background-color;
  font-family: 'Orbitron', sans-serif;
  vertical-align: baseline;
  font-size: 13px;
}

.navbar-default .nav > li > a:active, .nav > li > a:focus {
  color: $white;
  background-color: $action-color;
}

.navbar-default .nav > li > a:hover {
  color: $action-color;
  background-color: transparent;
}


// tabs
.nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
  border-radius: 0 !important;
  border-style: solid;
  border-color: $action-color;
  font-size: 12px;
  background: rgba(255,78,0,.6);
  color: $action-color;
  font-family: 'Orbitron', sans-serif;
  width: 250px;
  margin-bottom: 5px;
}

.nav-pills > li a {
  color: #fff;
}

.nav-pills.video > li {
  width: 90px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  border-radius: 0 !important;
  background: #fff;
  color: $action-color;
}

.nav-pills > li > a:hover {
  border-radius: 0 !important;
  background: rgba(255,255,255,.7);
  color: $action-color;
}

// button
.btn-sharp {
  border-radius: 25px;
  font-family: 'Orbitron', sans-serif;
  background: $white;
  border-style: none;
  border-color: $action-color;
  color: $action-color;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: rgba(255,78,0,.9);
  border-color: $white;
  color: $white;
}

.btn-sharp-event {
  border-radius: 0;
  font-family: 'Orbitron', sans-serif;
  border-style: solid;
  border-color: $action-color;
  color: $action-color;
  background: $white;
}


.btn-sharp-event:hover, .btn-sharp-event:focus, .btn-sharp-event:active, .btn-sharp-event.active, .open > .dropdown-toggle.btn-sharp {
  background: $action-color;
  border-color: $white;
  color: $white;
}

// header
h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.no-padding-bottom, div.no-padding-bottom {
  padding-bottom: 10px;
}

div#team h1 {
  padding-bottom: 70px;
}

h1.contact {
  padding-bottom: 60px;
  color: $action-color;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 26px;
  padding-bottom: 40px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1.middle-padding-bottom, h2.middle-padding-bottom, p.middle-padding-bottom {
  padding-bottom: 30px;
}

.padding-top {
  padding-top: 40px;
}

.padding-bottom {
  padding-bottom: 40px;
}

.padding-top-bottom {
  padding-bottom: 80px;
}

h2.name {
  color :$action-color;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 15px;
}

h2.mentor-position {
  font-size: 16px;
  color: $grey;
  padding-bottom: 10px;
}

#team h3 {
  font-size: 14px;
  padding-bottom: 10px;
}

h6.hid {
  visibility: hidden;
}

h2.active_color, h3.active_color {
  color: $action-color;
}

div#schedule h2 {
  font-size: 22px;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.question {
  padding-bottom: 10px;
  text-align: left;
  padding-left: 40px;
  padding-right: 40px;
}

h4 {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

h5 {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
}

// paragraph
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

p.answer {
  padding-bottom: 33px;
  padding-left: 40px;
  padding-right: 40px;
}

p.button {
  text-align: center;
}

p.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

p.bio {
  color:$white;
  text-align: left;
  padding-bottom: 40px
}

p.time {
  color: $action-color;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}

p.timetable-item {
  color: $background-color;
  font-size: 16px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 15px;
  text-align: left;
}

p.kick-off {
  color: $background-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 10px;
  text-align: left;
}

p.contact {
  color: #fff;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: center;
}

p.org {
  padding-top: 15px;
}

p.padding-bootom {
  padding-bottom: 10px;  
}

p.address {
  color: $action-color;
  font-size: 20px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
  text-align: left;
}

p.footer {
  color: $background-color;
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
  line-height: 28px;
  padding-bottom: 30px;
}

p.text-weight {
  font-weight: 600;
  font-size: 16px;
}

// div
div.padding-top {
  padding-top: 100px;
}

.padding-top-mini {
  padding-top: 15px;
}

.padding-top-mid {
  padding-top: 25px;
}

.padding-top-bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padding-top-bottom-mini {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding-top-bottom-mid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-bottom-mini {
  padding-bottom: 30px;
}

div.event {
  max-width: 450px; 
  word-wrap:break-word;
}

.event-pics {
  margin: 15px auto;
}

img.event-img {
  border: 5px solid #fff;
  margin: 10px auto;
}

div.map {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  margin-top: 20px;
}

div.s-logo {
  padding-top: 20px;
  padding-bottom: 20px;
}

div.contact {
  padding-top: 50px;
  padding-bottom: 0px;
}

// other

ul.padding-bottom {
  padding-bottom: 40px;
}

span.highlight {
  color: $action-color;
}

ul.prizes {
  text-align: left;
  font-size: 20px;
  list-style: none;
}

ul.prizes li {
  text-align: center;
}

p.prizes {
  text-align: left;
}

.span-color {
  font-color: $grey;
}

ol.judging-rules {
  text-align: left;
  font-size: 18px;
}

.prize {
  font-color: white;
}

.award h1 {
  font-size: 28px;
}

.award h2 {
  font-size: 50px;
  color: #ff4e00;  
}

span.carrot {
  color: #ff4e00;
}

span.carrot:hover {
  text-decoration: underline;
}

.award h4 {
  padding-bottom: 10px;
}

// small devices

@media (max-width: 768px) {  
  div.padding-top-bottom {
    padding-top: 70px;
    padding-bottom: 40px;
  }
  div.padding-top {
    padding-top: 45px;
  }
  h1 {
    padding-bottom: 40px;
  }
  h2 {
    padding-bottom: 20px;
  }
  .padding-top-bottom {
    padding-bottom: 40px;
  }
  .padding-top {
    padding-top: 35;
  }
  div.s-logo {
    padding: 15px 20px;
  }
  p.timetable-item {
    padding-bottom: 20px;
  }
  div.padding-bottom-mini {
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) { 

  .gold-logo {
    padding: 20px 38px;
  }

  .silver-logo {
    padding: 20px 44px;
  }

}

// video

@media (max-width: 768px) {  
  .video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin: 0 25px; 
  height: 0; 
  overflow: hidden;
  }

  .video-container iframe,
  .video-container object,
  .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }
}

div#welcome {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30%;
    background-color: #000;
    background-image: url('bg-deskt.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

div.img-bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div#why {
  background-image: url('break1.jpg');
  background-position: 35% center;
  text-shadow: 2px 2px 4px #000000;
}

div#awards {
  background-image: url('bg-awards.jpg');
  background-position: center center;
}

div#contact {
  background-image: url('event.jpg');
  background-position: center top;
  padding-top: 120px;
  padding-bottom:120px;
}

div#who {
  background-image: url('ggcteam.jpg');
  background-position: center top;
  padding-top: 120px;
  padding-bottom:120px;
}

@media (max-width: 767px) {  

  div#welcome {
    background-repeat: no-repeat;
    background-position: 30%;
    background-color: #000;
    background-image: url('bg-mob.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

}
