/*
 *= require_self
 *= require_tree .
 */

//$navbar-inverse-link-color: #ffffff;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  text-align: center;
}

// navigation
.navbar-custom {
    color:#ffffff;
    border-radius:0;    
    background-color:#FFFFFF;
}

.navbar-custom .navbar-nav > li > a {
    color:#4D4D4D;
    font-family: 'Orbitron', sans-serif;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #FD775B;
    background-color: #FD775B;
}

// tabs
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     font-size: 16px
}



.nav-pills {
	font-family: 'Orbitron', sans-serif; 
	text-align:center;
}

.nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
     font-size: 16px;
     background: #4D4D4D;
 	border-style: solid;
  	font-color: #FD775B;
}

.nav-pills > li:hover, .nav-pills > li:focus, .btn-sharp:active {
  background: #FD775B;
  border-color: #FD775B;
  color: #FD775B;
  font-color: #4D4D4D;
}

.btn-sharp {
  border-radius:0;
  font-family: 'Orbitron', sans-serif;
  background: #FD775B;
  border-style: solid;
  border-color: #4D4D4D;
}

.btn-sharp:hover, .btn-sharp:focus, .btn-sharp:active, .btn-sharp.active, .open > .dropdown-toggle.btn-sharp {
  background: #4D4D4D;
  border-color: #FD775B;
  color: #FD775B;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 32px;
}

h2 {
  font-family: 'Orbitron', sans-serif;	
  font-size: 24px;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 18x;
}

h4 {
  font-family: 'Orbitron', sans-serif;
}